backports.functools-lru-cache==1.5
cycler==0.10.0
Django==1.11.9
kiwisolver==1.0.1
matplotlib==2.2.2
MySQL-python==1.2.5
numpy==1.14.3
opencv-contrib-python==3.4.0.12
Pillow==5.1.0
pyparsing==2.2.0
python-dateutil==2.7.2
pytz==2018.4
scikit-learn==0.19.1
scipy==1.0.1
six==1.11.0
subprocess32==3.2.7
